API_LISTEN=:32100
# redis
REDIS_ADDR=127.0.0.1:6379
REDIS_MAX_IDLE=10
REDIS_MAX_CONN=100
REDIS_DB_NO=0
# cql db
CQL_CLUSTER_ADDR = ["127.0.0.1"]
CQL_KEYSPACE = coconut
CQL_PORT = 9042
CQL_ORDER_READ_CONSISTENCY = QUORUM
CQL_TIMEOUT = 1
CQL_CONNECTION_TIMEOUT = 1
CQL_MAX_PREPARED_STMTS = 1
CQL_NUM_CONNS = 5